<!-- Page Contain -->
<div class="page-contain">

  <!-- Main content -->
  <div id="main-content" class="main-content">

    <!--Block 01: Main Slide-->
    <div class="main-slide block-slider nav-change">
      <ul class="biolife-carousel"
        data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": false, "speed": 800}'>
        <li>
          <div class="slide-contain slider-opt03__layout02 slide_animation type_02">
            <div class="media background-geen-01"></div>
            <div class="text-content">
              <i class="first-line">Pomegranate</i>
              <h3 class="second-line">Vegetables 100% Organic</h3>
              <p class="third-line">A blend of freshly squeezed green apple & fruits</p>
              <p class="buttons">
                <a href="#" class="btn btn-bold">Shop now</a>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!--Block 03: Product Tabs-->
    <div class="product-tab z-index-20 sm-margin-top-193px xs-margin-top-30px">
      <div class="container">
        <div class="biolife-title-box">
          <span class="subtitle">All the best item for You</span>
          <h3 class="main-title">Related Products</h3>
        </div>
        <app-categorie-tabs></app-categorie-tabs>
      </div>
    </div>

    <!--Block 04: Banner Promotion 01-->
    <div class="banner-promotion-01 xs-margin-top-50px sm-margin-top-70px">
      <div class="biolife-banner promotion3 biolife-banner__promotion3 green-style">
        <div class="banner-contain">
          <div class="media">
            <div class="img-moving position-1">
              <img src="./assets/images/home-03/img-moving-pst-1-geen.png" width="149" height="139" alt="img msv">
            </div>
          </div>
          <div class="text-content">
            <div class="container text-wrap">
              <span class="first-line">Healthy Food</span>
              <b class="second-line">Vegetable Always fresh</b>
              <p class="third-line">Food Heaven Made Easy sounds like the name of an amazingly delicious food delivery
                service, but don't be fooled...</p>
              <div class="product-detail">
                <p class="txt-price"><span>Only:</span>8.00 MAD</p>
                <a href="#" class="btn add-to-cart-btn">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-center py-5">
  <div class="biolife-service">
    <ul class="services-list">
      <li>
        <div class="service-inner color-reverse">
          <span class="number">1</span>
          <span class="biolife-icon icon-beer"></span>
          <p class="srv-name">full stamped product</p>
        </div>
      </li>
      <li>
        <div class="service-inner color-reverse">
          <span class="number">2</span>
          <span class="biolife-icon icon-schedule"></span>
          <p class="srv-name">place and delivery on time</p>
        </div>
      </li>
      <li>
        <div class="service-inner color-reverse">
          <span class="number">3</span>
          <span class="biolife-icon icon-car"></span>
          <p class="srv-name">Free shipping in the city</p>
        </div>
      </li>
    </ul>
  </div>
</div>
